body {
	font-size: 40px;

	font-family: 'Martel Sans', Helvetica;
	color: #3b3a3a;
	margin-left:160px;
	margin-right:160px;
	margin-top:60px;
	margin-bottom:60px;
}

h1{
	font-family: 'David Libre', Times;
	color: #3b3a3a;
	margin-bottom: 0px;
	margin-left:120px;
	margin-right:120px;
	font-weight: 500;
	letter-spacing: 1.1px;
	font-size: 64px;
	top: 0px;
}

.avatar{
	display: flex;

	width: 220px;
	height: 250px;
	border-radius: 50%;
	margin: 0 auto;
}

.bio{
	background-color: white;
	margin-left:400;
	margin-right:400;
}

a{
	color:#ffcb50;
	text-decoration:none;
}

a:hover {
	color:#E8B949;
}

/*menu properties*/
.menu{
	list-style: none;
	margin: 0;
	padding: 0;
}

/* make the list items look more like buttons */
.menu li{
	width: 100px;
	text-align: center;

	display: block;
	margin-right: -5px;
}

/* style the the visited links */
.menu a {
	color: #262625;
	text-decoration: none;

	width: 100%;
	display: block;
}

/*override mobile rules*/
@media(min-width: 600px){
  body{
  	font-size:14px;
  }

  h1{
  	font-size: 34px;
  }

  .page-wrap{
	max-width: 800px;
	margin: 0 auto;
	}
}

/*desktop rules*/
@media(min-width: 1000){
	body{
  	font-size:60px;
  }
  h1{
  	font-size: 70px;
  }

}
