body {
	font-size: 40px;

	font-family: 'Martel Sans', Helvetica;
	color: #3b3a3a;
	margin: 30px;
}

h1{
	font-family: 'David Libre', Times;
	color: #3b3a3a;
	margin-bottom: 0px;
	vertical-align: middle;
	font-weight: 500;
	letter-spacing: 1.1px;
	font-size: 64px;
}

.avatar{
	display: flex;

	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin: 0 auto;
	background-image:url();
}

.bio{
	background-color: white;
	margin-top: 0;
    	margin-left: -8px;
   	width: 100vw;
    	height: 88vh;
   	min-height: 300px;
    	max-height: 300px;
    	padding: 6vh 0;
}

a{
	color:#ffcb50;
}

.burger .patty{
	background-color: #ffcb50;
	border-radius:2px;
	height:4px;
	margin-bottom: 8px;
	-webkit-transition: 0.25s ease all;
	transition: 0.25s ease all;
	width: 35px;
}

.big-nav hidden{
	list-style-type: none;
}

.ul{ 
	list-style-type: none; 
}

/*creates picture grid*/
.wrapper{
	width: 850px;
	padding:12.5px 0 0 12.5px;
	background-color: white;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pics{
/* style the grid items */
    display: block;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    background-color: #e6e1de;
    margin-right: 12.5px;
    margin-bottom: 12.5px;
}
	

/*override mobile rules*/
@media(min-width: 600px){
  body{
  	font-size:14px;
  }
  h1{
  	font-size: 34px;
  }

  .page-wrap{
	max-width: 800px;
	margin: 0 auto;
	}
}

/*desktop rules*/
@media(min-width: 1000){
	body{
  	font-size:60px;
  }
  h1{
  	font-size: 70px;
  }

}
