h1{
	font-family: 'Amiri', Times;
	color: #3b3a3a;
	margin-bottom: 0px;
	vertical-align: middle;
	font-weight: 600;
	letter-spacing: 1.1px;
}

.avatar{
	display: block;
	background-color: #fff8f7;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin: 0 auto;
	background-image:url();
}

.bio{
	background-color: white;
	margin-top: 0;
    margin-left: -8px;
    width: 100vw;
    height: 88vh;
    min-height: 300px;
    max-height: 300px;
    padding: 6vh 0;

	font-family: 'Martel Sans', Helvetica;
	color: #3b3a3a;
}

a{
	color:#f7c328;
}

